/* External Libraries */
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* Utilities */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #586F7C;
}

a {
  text-decoration: none!important;
}

img {
  max-width: 100%;
}
/* Custom Design */
.navbar-lewagon {
  justify-content: space-between;
  background: #F8F8F8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.icon {
  font-size: 50%;
}